html,
body {
  height: 100%;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;

  --highlight-color:#1f96f8;
  --component-theme:#535353;
  --component-nob:#353535;
}

.switch{
    display:block;
    width:80px;
    height:40px;
    background-color: var(--component-theme);
    border-radius: 24px;
    position: relative;
    overflow: hidden;
}
.switch input{
    position: absolute;
    visibility: hidden;
}
.switch input + span{
    display: inline-block;
    width:100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.2s ease-out;
}
.switch input:checked + span{
    background-color: var(--highlight-color);
}
.switch input + span + span{
    display: block;
    width:36px;
    height: 36px;
    margin:2px;
    border-radius: 24px;
    position: absolute;
    z-index:4;
    background-color: var(--component-nob);
    left:0;
    top:0;
    transition: left 0.2s ease-out;
}
.switch input:checked + span + span{
    left:calc(100% - 40px);
}